/* 
Theme Name: Brafé
Theme URI: www.brafe.com
Author: Marianna Rimes
Author URI: www.injunior.com.br
Description: Site da aula de css
Version: 1.0
*/

:root { /* como aplicar transition em todos de uma vez  */
    color: #202020;
    font-size: 62.5%;
    font-family: Georgia, serif;
    box-sizing: border-box;
    text-align: center;
}

img { /* COMO COLOCAR IMAGEM RESPONSIVA NO BACKGROUND - IMP!  */
    max-width: 100%;
    height: auto;
    display: block;
    filter: contrast(125%);
}

.flex_center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.img_brafe { /* COMO DIMINUIR TAMANHO DA LOGO NO @MEDIA? */
    margin: auto 10px;
}

h1, h2, h4, .img_brafe, .sec1_div2, .sec2_p, .sec3_p, #main_p, #footer { /* COISAS QUE MUDAM DE TAMANHO */
    transition: all .6s ease-in-out;
}

#header_div, #sec4_div, #footer { /* CLASSES IGUAIS COM @MEDIA DIFERENTES */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header_a, #main_div1 {
    position: relative;
}

/* -------------------- Header -------------------- */

header {
    background: #202020;
    padding: 10px 10px 15px 10px;
    position: sticky;
    z-index: 4;
    top: 0;
   
}

nav {
    display: flex;
    align-items: center;
}

ul { /* MENU */
    display: flex;
}

li { /* ITENS MENU */
    padding: 15px 10px 0px 10px;
    font-size: 1.8rem;
}

a:visited, a:link {
    text-decoration: none;
    color: #ffffff;
}

.header_a::before { /* ANIMAÇÃO MENU */
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    visibility: hidden;
    transition: all 0.5s ease-out;
}

.header_a:hover::before { /* ANIMAÇÃO MENU */
    visibility: visible;
    width: 100%;
}

/* -------------------- Main --------------------- */

#main_div2 { /* POSIÇÃO TEXTO */
    position: absolute;
    transform: translatex(-50%) translateY(-50%);
    top: 50%; left: 50%;
    color: #ffffff;
    width: 100%;
}

h1 { /* TEXTO */
    font-weight: bold;
    font-size: 4.8rem;
}

#main_p { /* TEXTO */
    font-style: italic;
    font-size: 1.8rem;
}

/* -------------------- Primeira Section  -------- */

section { /* SEC 1 E SEC 3 */
    padding: 30px 10px;
}

h2 { /* TÍTULO */
    font-size: 3.8rem;
    margin: 20px auto 40px auto;
    font-weight: bolder;
}

.sec1_div1 { /* IMAGENS */
    margin: 20px 14px;
    position: relative;
}

.sec1_div2 { /* LEGENDAS */
    width: 50%;
    padding: 5px 0px 10px 0px;
    color: #ffffff;
    background: #202020;
    font-size: 3.2rem;
    font-style: italic;
    position: absolute;
    bottom: -25%; left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

#sec1_p { /* TEXTO */
    font-size: 1.8rem;
    font-style: italic;
    margin: 40px auto 20px auto;
    max-width: 460px;
    line-height: 1.4em;
    padding: 0px 10px;
}

/* -------------------- Segunda Section ---------- */

.section { /* SEC 2 E SEC 4 */
    background: #e9e5d9;
    padding: 25px 10px;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.sec2_div1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 320px;
}

.sec2_div2 { /* BOLAS */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 25px;
    position: relative;
}

.sec2_button { /* BOLAS */
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%; left: 50%;
    border: 4px solid #ffffff;
}

.sec2_button:hover { /* ANIMAÇÃO BOLAS */
    animation-name: pulse;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.cor_paulista { /* COR */
    background: #492901;
}

.cor_carioca { /* COR */
    background: #c17139;
}

.cor_mineiro { /* COR */
    background: #d7a54d;
}

h3 { /* TÍTULOS DOS LOCAIS */
    font-size: 3.4rem;
    font-weight: bold;
}

.sec2_p { /* TEXTOS */
    font-size: 1.5rem;
    text-align: left;
    padding: 25px 15px;
    line-height: 1.8rem;
}

.button { /* SAIBA MAIS */
    padding: 15px 30px;
    font-size: 1.8rem;
    font-weight: bold;
    border: 3px solid #202020;
    font-family: Georgia, serif;
    margin: 25px auto;
    background: #e9e5d9;
    color: #202020;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.button:hover { /* SAIBA MAIS // VER MAPA */
    background: #202020;
    color: #e9e5d9;
}

@keyframes pulse { /* ANIMAÇÃO BOLAS - esse keyframes vai aqui ou em outro lugar?*/

    0% {transform: scale(1);
        top: 5px; left: 5px;}
    50% {transform: scale(.75);
        top: 5px; left: 5px}
    100% {transform: scale(1);
        top: 5px; left: 5px}
}

/* -------------------- Terceira Section --------- */

.margin { /* MARGEM IMAGENS */
    margin: 20px auto 20px auto;
    padding-top: 3px;
}

.sec3_div {
    text-align: left;
    margin: 20px auto 20px 25px;
    max-width: 50%;
}

.sec3_p { /* TEXTOS */
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 25px auto;
    padding-right: 70px;
}

.sec3_button { /* VER MAPA */
    margin: 0px auto;
    font-size: 1.6rem;
    font-weight: normal;
    padding: 10px 20px;
    background: #ffffff;
}

/* -------------------- Quarta Section ----------- */

h4 {
    font-size: 2.4rem;
    font-style: italic;
    line-height: 1.4;
}

input[type=email] { /* PQ O INPUT NÃO RECEBE AS CONFIG DO ROOT? */
    max-width: 80vw;
    font-family: Georgia, serif;
    font-style: italic;
    padding: 7px 7px;
    border: 3px solid #202020;
    font-size: 2.4rem;
    background: #e9e5d9;
}

input[type=submit] {
    background-color: #202020;
    border: none;
    color: #ffffff;
    font-size: 2.4rem;
    padding: 10px 25px;
    font-family: Georgia, serif;
    cursor: pointer;
    margin: 10px 0px 5px 0px;
}

/* -------------------- Footer ------------------- */

footer {
    background: #d6d3c8;
    font-size: 1.6rem;
    line-height: 1.4; 
    text-align: left;
    padding: 10px;
}

/* -------------------- @media ------------------- */

@media screen and (max-width: 900px) and (min-width: 501px) { 
    h1 {
        font-size: 3.8rem;
    }
    #main_p {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 3.4rem;
        margin: 10px auto 30px auto;
    }
    .sec3_p {
        margin: 10px auto 15px auto;
        padding: 0px;
    }
}

@media screen and (max-width: 700px) {
    #header_div {
        flex-flow: wrap;
        justify-content: space-evenly;
    }
    .flex_center, #sec4_div {
        flex-flow: wrap;
        justify-content: center;
    }
    .sec2_p { /* TEXTOS */
        text-align: center;
    }
    .sec3_div {
        text-align: center;
        margin: 0px auto 25px auto;
        max-width: 70vw;
    }
    .sec3_p {
        font-size: 1.6rem;
        text-align: center;
        margin: 15px auto 20px auto;
        padding: 0px;
    }
    h4 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    #footer {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    #main_p {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2.4rem;
        margin: 0px auto 10px auto;
    }
    .sec1_div2 {
        font-size: 2.4rem;
    }
    li {
        padding: 15px 5px 0px 5px;
        font-size: 1.6rem;
    }
}






    










